@import "../Shared/Partials/variables";

.category-section {
    .category-title {
        color: $color-secondary;
        text-align: center;
    }
    .category-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .category-item {
            padding-bottom: 60px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            @media (min-width: $screen-sm) {
                width: 31.9%;
                display: block;                
            }
            .item-image {
                height: 150px;
                width: 55%;
                a {
                    display: inline;
                }
                @media (min-width: $screen-sm) {
                    height: 189px;
                    width: auto;
                }
                @media (min-width: $screen-lg) {
                    height: 253px;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .item-title {
                padding-top: 5px;
                width: 40%;
                @media (min-width: $screen-sm) {
                    padding-top: 24px;
                    width: auto;                        
                }
            }
            .item-text {
                line-height: 28px;
                padding-top: 10px;
                display: none;
                @media (min-width: $screen-sm) {
                    display: block;
                }
            }
        }
        .s-2 {
            width: 100%;
            @media (min-width: $screen-md) {
                width: 66%;
            }
        }
        .s-3 {
            width: 100%
        }
        .category-quote {
            order: 2;
            padding-bottom: 60px;
            width: 66%;
            height: 400px;
            position: relative;
            display: none;
            @media (min-width: $screen-md) {
                display: block;
            }
            img {
                width: 100%;
                height: 361px;
                @media (min-width: $screen-lg) {
                    height: 400px;
                }
            }
            .quote-content {
                position: absolute;
                width: 77.8%;
                top: 13%;
                left: 7%;
                .text {
                    color: $color-48;
                }
                .people-testimonial {
                    margin-top: 30px;
                    display: flex;
                    align-items: center;
                    .avatar {
                        max-width: 60px;
                        width: 11.3%;
                        display: block;
                        height: auto;
                    }
                    .info-testimonial {
                        padding: 10px 15px;
                    }
                    .name {
                        color: $color-secondary;
                        text-transform: uppercase;
                    }
                    .status {
                        font-style: italic;
                        line-height: 24px;
                    }
                }
            }
        }
    }
    .category-paginate {
        display: flex;
        justify-content: center;
        align-content: center;
        ul {
            list-style: none;
            padding: 0 25px;
            @media (min-width: $screen-sm) {
                padding: 0 50px;
            }
            li {
                display: inline;
                color: $color-7E;
                font-family: $font-SF-Light;
                font-size: $font-16;
                line-height: 30px;
                padding: 3px 8px;
                @media (min-width: $screen-sm) {
                    padding: 10px 15px;
                }
                @media (min-width: $screen-lg) {
                    padding: 10px 17px;    
                }
                &.active {
                    background-image: linear-gradient(45deg, #AB47BC 0%, #8E24AA 36%, #5D2E86 100%);
                    border-radius: 100px;
                    color: $color-white;

                }
                &:not(:last-child) {
                    margin-right: 30px;
                    @media (min-width: $screen-md) {
                        margin-right: 50px;
                    }
                }
            }
        }
        .icons {
            display: block;
            padding-top: 8px;
        }
    }
}
.order-before {
    order: 1;
}

.order-after {
    order: 3;
}