@import "../Shared/Partials/variables";

.title-section-blog {
    position: relative;
    display: flex;
    height: 384px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (min-width: $screen-md) {
        height: 675px;
    }
    @media (min-width: $screen-lg) {
        height: 900px;
    }
    img.bg {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
    }
    .post-section {
        width: 80%;
        @media (min-width: $screen-sm) {
            width: 60%;
            padding-left: 60px;
        }
        @media (min-width: $screen-md) {
            width: 50%;
            padding-left: 0;
        }
        .titles-section {
            color: $color-E6;
            padding-bottom: 6px;
            text-transform: uppercase;
        }
        .post-title {
            color: $color-white;
            padding-bottom: 12px;
            @media (min-width: $screen-md) {
                padding-bottom: 20px;
            }
            @media (min-width: $screen-lg) {
                padding-bottom: 30px;
            }
        }
        .post-excerpt {
            // color: $color-E6;
            // font-family: $font-SF-Text-Regular;
            // font-size: $font-14;
            // line-height: 24px;
            display: none;
            @media (min-width: $screen-sm) {
                display: block;
                margin-bottom: 20px;
                color: $color-E6;
                overflow:hidden;
                text-overflow:ellipsis;
                height: 84px;
                line-height: 28px;
            }
            @media (min-width: $screen-md) {
                // font-size: $font-16;
                // line-height: 28px;
                height: auto;
                margin-bottom: 35px;
            }
        }
        .btn {
            height: 40px;
            line-height: 40px;
            width: 130px;
            @media (min-width: $screen-lg) {
                width: 156px;
                line-height: 50px;
                height: 50px;
            }
        }
        a {
            display: block;
        }
    }
}
/********Savy-er*********/
.blog-savyers-section {
    max-width: $max-width-xs;
    margin: auto;
    padding: 60px 0;
    @media (min-width: $screen-sm) {
        max-width: $max-width-sm;
        padding: 80px 0;
    }
    @media (min-width: $screen-md) {
        max-width: $max-width-md;
        padding: 110px 0;
    }
    @media (min-width: $screen-lg) {
        max-width: $max-width-lg;
        padding: 130px 0;
    }
    .savyer-title {
        text-align: center;
        color: $color-secondary;
    }
    .savyer-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 30px;
        @media (min-width: $screen-md) {
            padding-top: 60px;
        }
        
        .savyer-item {
            width: 100%;
            padding-bottom: 30px;
            @media (min-width: $screen-md) {
                padding-bottom: 60px;
            }
            .blog-title {
                padding-top: 12px;
                @media (min-width: $screen-md) {
                    padding-top: 24px;
                }
            }
            .blog-text {
                line-height: 28px;
                padding-top: 12px;
            }
            @media (min-width: $screen-sm) {
                width: 48%;
            }
            @media (min-width: $screen-md) {
                width: 31.9%;
            }
        }
        .s-2 {
            width: 100%;
            @media (min-width: $screen-md) {
                width: 66%;
            }
        }
        .s-3 {
            width: 100%
        }
        .savyer-img{
            height: 185px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            @media (min-width: $screen-lg) {
                height: 253px;
            }
        } 
    }
    .savyer-button {
        .btn {
            height: 40px;
            line-height: 40px;
            width: 130px;
            @media (min-width: $screen-lg) {
                width: 156px;
                line-height: 50px;
                height: 50px;
            }
        }
    }
}

/*******Inspi**********/
.blog-inspi-bg {
    background-color: $color-blog-inspi;
}
.blog-inspi-section {
    max-width: $max-width-xs;
    margin: auto;
    padding: 50px 0;
    @media (min-width: $screen-sm) {
        max-width: $max-width-sm;
    }
    @media (min-width: $screen-md) {
        max-width: $max-width-md;
        padding: 130px 0;
    }
    @media (min-width: $screen-lg) {
        max-width: $max-width-lg;
    }
    .inspi-title {
        color: $color-secondary;
        text-align: center;
    }
    .inspi-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 30px;
        @media (min-width: $screen-md) {
            padding-top: 60px;
        }
        
        .inspi-item {
            width: 100%;
            margin-bottom: 60px;
            position: relative;
            @media (min-width: $screen-sm) {
                width: 48%;
            }
            @media (min-width: $screen-md) {
                width: 31.9%;
            }
            .inspi-img {
                position: relative;
                height: 195px;
                @media (min-width: $screen-lg) {
                    height: 253px;
                }
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                &::before {
                    background: linear-gradient(45deg, #AB47BC 0%, #8E24AA 36%, #5D2E86 100%);
                    content: ""; 
                    height: 100%;
                    opacity: 0.6;
                    position: absolute;
                    top: 0;
                    width: 100%;
                }
            }
            &:nth-child(2n+1) {
                .inspi-img {
                    &::before {
                        background: linear-gradient(45deg, #FCBC64 0%, #FF9800 35%, #F58220 100%);
                        opacity: 0.7;
                    }
                }
            }
            .inspi-t {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 80%;
                transform: translate(-50%, -50%);
                .inspi-text {
                    color: $color-white;
                    font-family: $font-SF-Medium;
                    font-size: $font-20;
                    letter-spacing: 0.3px;
                    line-height: 27px;
                    text-align: center;
                }
                .inspi-cash {
                    color: $color-blog-cash;
                    font-family: $font-SF-Text-Regular;
                    font-size: $font-16;
                    line-height: 28px;
                    text-align: center;
                }
            }
        }
    }
}
//Use all//
// .blog-section-title {
//     font-size: $font-30;
//     color: $color-secondary;
//     font-family: $font-SF-Semibold;
//     line-height: 35px;
//     @media (min-width: $screen-md) {
//         font-size: $font-50;
//         line-height: 55px;
//     }
// }
// .blog-title {
//     color: $color-48;
//     font-family: $font-SF-Medium;
//     font-size: $font-20;
//     line-height: 27px;
//     letter-spacing: 0.3px;
// }
// .blog-text {
//     color: $color-7E;
//     font-family: $font-SF-Text-Regular;
//     font-size: $font-10;
//     line-height: 20px;
//     @media (min-width: $screen-xs) {
//         font-size: $font-14;
//         line-height: 28px;
//     }
//     @media (min-width: $screen-md) {
//         font-size: $font-16;    
//     }
// }
.s-1 {
    width: 31.9%;
}
