extends ../Shared/_Layout

block content-header 

block content
    .row
        .col-md-12
            .box.box-primary
                .box-header.with-border
                    h3.box-title Thêm khóa học mới
                .box-body
                    
                    form(action="/quan-tri/khoa-hoc/them-moi", method="post")
                        .row
                            +generateTextBox(12, "name", "Tên khóa học", "text", "Tên khóa học", true, false, null,  titleErrorMessage)
                        .row
                            +generateSelect(4, 'topicId', 'Chọn chủ đề', true, topicList, null)
                            +generateTextBox(4, "fee", "Học phí", "text", "Học phí", true, false, null,  null)
                            +generateTextBox(4, "maxStudent", "SL học viên tối đa", "text", "SL học viên tối đa", true, false, null,  null)
                        .row
                            +generateTextarea(12, 'extraInfo', 'Mô tả khóa học', '30', '')
                        .row
                            +generateButton(12, "primary", "center", "submit", "Thêm mới")
    .row
        .col-md-12
            a(href='/quan-tri/khoa-hoc') &lt;&lt; Trở về trang danh sách
block style
    +styleSelect2()
block script
    +scriptFileUpload()
    +scriptSelect2()
    +sciprtEditor()
    +scriptNumericInputMask()

    script(src="/Script/Admin/Course/create.min.js")