extends ../Shared/_Layout

block content
    -
        var hasAdd = user.role.features.find(f => f.code === 'ADD_LESSON')
        var hasEdit = user.role.features.find(f => f.code === 'EDIT_LESSON')
        var hasPublish = user.role.features.find(f => f.code === 'PUBLISH_LESSON')
        var hasDelete = user.role.features.find(f => f.code === 'DELETE_LESSON')
        var hasCourse = user.role.features.find(f => f.code === 'COURSE')
    .row
        .col-md-12
            .box.box-primary
                .box-header.with-border
                    h3.box-title Quản lý các bài học
                    br
                    span (Khóa học: 
                    strong #{course.name}
                    span )
                .box-body
                    .row
                        .col-md-12
                            +generateButtonLink("/quan-tri/bai-hoc/" + course.id + "/them-moi", "primary", "Thêm mới")
                    br
                    .row
                        .col-md-12
                            table.table.table-responsive.table-striped.table-bordered
                                thead
                                    tr
                                        th.text-center STT
                                        th.text-center Tên bài học
                                        th.text-center Mở
                                        th.text-center Thao tác
                                tbody
                                    each lesson, index in lessonList
                                        tr
                                            td.text-center= index + 1
                                            td.text-left= lesson.name
                                            td.text-center
                                                if (hasPublish)
                                                    label
                                                        if (lesson.published)
                                                            input.minimal(type="checkbox", checked, data-lesson-id=lesson.id)
                                                        else
                                                            input.minimal(type="checkbox", data-lesson-id=lesson.id)
                                                else
                                                    label
                                                        if (lesson.published)
                                                            input.minimal(type="checkbox", checked, data-lesson-id=lesson.id, disabled)
                                                        else
                                                            input.minimal(type="checkbox", data-lesson-id=lesson.id, disabled)

                                            td.text-center
                                                if (hasEdit)
                                                    a(href='/quan-tri/bai-hoc/chinh-sua/' + lesson.id) Sửa 
                                                if (hasEdit && hasDelete)
                                                    span | 
                                                if (hasDelete)
                                                    a(href='javascript:void(0)', data-toggle='modal', data-target='#lessonDeleteModal-' + lesson.id) Xóa
    if (hasCourse)
        .row
            .col-md-12
                a(href='/quan-tri/khoa-hoc') &lt;&lt; Trở về trang danh sách
    if (hasDelete)
        each lesson, index in lessonList
            div.modal.modal-danger.fade(id='lessonDeleteModal-' + lesson.id)
                .modal-dialog
                    .modal-content
                        .modal-header
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                span(aria-hidden='true') ×
                            h4.modal-title Bạn có chắc chắn muốn xóa bài học này?
                        form(action="/quan-tri/bai-hoc/xoa", method="post")
                            -
                                var virtualLesson = {
                                    name: lesson.name,
                                    createdAt: moment(lesson.createdAt).fromNow(),
                                    updatedAt: moment(lesson.updatedAt).fromNow()
                                }
                            .modal-body
                                +generateHiddenField('id', lesson.id)
                                -
                                    var titleArray = ["Tên bài học", "Thời điểm tạo", "Thời điểm cập nhật"]
                                    var attributeArray = ["name", "createdAt", "updatedAt"]
                                +generateDetails(titleArray, virtualLesson, attributeArray)
                                
                            .modal-footer
                                +generateButtonWithoutSize("outline", "right", "submit", "Xóa")
block style
    +styleICheck()
    +styleDataTables()

block script
    +scriptICheck()
    +scriptDataTables()
    
    script(src="/Script/Admin/Course/details.min.js")