extends ../Shared/_Layout

block content-header 

block content
    .row
        .col-md-12
            .box.box-primary
                .box-header.with-border
                    h3.box-title Chỉnh sửa thông tin khóa học
                .box-body
                    form(action="/quan-tri/khoa-hoc/chinh-sua", method="post")
                        +generateHiddenField('id', course.id)
                        .row
                            +generateTextBox(12, "name", "Tên khóa học", "text", "Tên khóa học", true, false, course.name, null)
                        .row
                            +generateSelect(4, 'topicId', 'Chọn chủ đề', true, topicList, null)
                            +generateTextBox(4, "fee", "Học phí", "text", "Học phí", true, false, course.fee,  null)
                            +generateTextBox(4, "maxStudent", "SL học viên tối đa", "text", "SL học viên tối đa", true, false, course.maxStudent,  null)
                        .row
                            +generateTextarea(12, 'extraInfo', 'Mô tả khóa học', '30', course.extraInfo)
                        .row
                            +generateButton(12, "primary", "center", "submit", "Lưu thay đổi")
    .row
        .col-md-12
            a(href='/quan-tri/khoa-hoc') &lt;&lt; Trở về trang danh sách
block style
    +styleSelect2()
block script
    +scriptFileUpload()
    +scriptSelect2()
    +sciprtEditor()
    +scriptNumericInputMask()
    script(src="/Script/Admin/Course/create.min.js")