extends ../Shared/_Layout

block content
    -
        var hasAdd = user.role.features.find(f => f.code === 'ADD_COURSE')
        var hasEdit = user.role.features.find(f => f.code === 'EDIT_COURSE')
        var hasPublish = user.role.features.find(f => f.code === 'PUBLISH_COURSE')
        var hasDelete = user.role.features.find(f => f.code === 'DELETE_COURSE')
        var hasDetails = user.role.features.find(f => f.code === 'DETAILS_COURSE')
    .row
        .col-md-12
            .box.box-primary
                .box-header.with-border
                    h3.box-title Quản lý khóa học
                .box-body
                    if (hasAdd)
                        .row
                            .col-md-12
                                +generateButtonLink("/quan-tri/khoa-hoc/them-moi", "primary", "Thêm mới")
                    br
                    .row
                        .col-md-12
                            +generateHiddenField('courseList', JSON.stringify(courseList))
                            table.table.table-responsive.table-striped.table-bordered
                                thead
                                    tr
                                        th.text-center STT
                                        th.text-center Tên khóa học
                                        th.text-center Học phí
                                        th.text-center SLHV tối đa
                                        th.text-center Chủ đề
                                        th.text-center Mở
                                        th.text-center Thao tác
                                tbody
                                    each course, index in courseList
                                        tr
                                            td.text-center= index + 1
                                            td.text-left
                                                if (hasDetails)
                                                    a(href='/quan-tri/khoa-hoc/chi-tiet/' + course.id)= course.name
                                                else
                                                    span= course.name
                                            td.text-center= numeral(course.fee).format('0,0')
                                            td.text-center= numeral(course.maxStudent).format('0,0')
                                            td.text-left= course.topic.name
                                            td.text-center
                                                if (hasPublish)
                                                    label
                                                        if (course.published)
                                                            input.minimal(type="checkbox", checked, data-course-id=course.id)
                                                        else
                                                            input.minimal(type="checkbox", data-course-id=course.id)
                                                else
                                                    label
                                                        if (course.published)
                                                            input.minimal(type="checkbox", checked, data-course-id=course.id, disabled)
                                                        else
                                                            input.minimal(type="checkbox", data-course-id=course.id, disabled)

                                            td.text-center
                                                if (hasEdit)
                                                    a(href='/quan-tri/khoa-hoc/chinh-sua/' + course.id) Sửa 
                                                if (hasEdit && hasDelete)
                                                    span | 
                                                if (hasDelete)
                                                    a(href='javascript:void(0)', data-toggle='modal', data-target='#courseDeleteModal-' + course.id) Xóa
    if (hasDelete)
        each course, index in courseList
            div.modal.modal-danger.fade(id='courseDeleteModal-' + course.id)
                .modal-dialog
                    .modal-content
                        .modal-header
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                span(aria-hidden='true') ×
                            h4.modal-title Bạn có chắc chắn muốn xóa khóa học này?
                        form(action="/quan-tri/khoa-hoc/xoa", method="post")
                            -
                                var virtualTopic = {
                                    name: course.name,
                                    createdAt: moment(course.createdAt).fromNow(),
                                    updatedAt: moment(course.updatedAt).fromNow()
                                }
                            .modal-body
                                +generateHiddenField('id', course.id)
                                -
                                    var titleArray = ["Tên khóa học", "Thời điểm tạo", "Thời điểm cập nhật"]
                                    var attributeArray = ["name", "createdAt", "updatedAt"]
                                +generateDetails(titleArray, virtualTopic, attributeArray)
                                
                            .modal-footer
                                +generateButtonWithoutSize("outline", "right", "submit", "Xóa")
block style
    +styleICheck()
    +styleDataTables()

block script
    +scriptICheck()
    +scriptDataTables()
    
    script(src="/Script/Admin/Course/index.min.js")
