extends ../Shared/_Layout

block content
    .row
        .col-md-12
            .box.box-primary
                .box-header.with-border
                    h3.box-title Quản lý các chủ đề
                .box-body
                    .row
                        .col-md-12
                            a.btn.btn-primary.btn-flat(href="javascript:void(0)", data-toggle='modal', data-target='#topicAddModal') Thêm mới
                    br
                    .row
                        .col-md-12
                            +generateHiddenField('topicList', JSON.stringify(topicList))
                            table.table.table-responsive.table-striped.table-bordered
                                thead
                                    tr
                                        th.text-center STT
                                        th.text-center Tên chủ đề
                                        th.text-center SL khóa học
                                        th.text-center Thao tác
                                tbody
                                    each topic, index in topicList
                                        tr
                                            td.text-center= index + 1
                                            td.text-left= topic.name
                                            td.text-center= topic.courses.length
                                            td.text-center
                                                a(href='javascript:void(0)', data-toggle='modal', data-target='#topicEditModal-' + topic.id) Sửa 
                                                span | 
                                                a(href='javascript:void(0)', data-toggle='modal', data-target='#topicDeleteModal-' + topic.id) Xóa 
    div(id='topicAddModal').modal.modal-default.fade
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4.modal-title Thêm chủ đề
                form(action="/quan-tri/chu-de/them-moi", method="post")
                    .modal-body
                        .row
                            +generateTextBox(12, "name", "Tên chủ đề", "text", "Tên chủ đề", true, false, null,  null)
                    .modal-footer
                        .row
                            +generateButton(12, "primary", "right", "submit", "Thêm mới")                                            
    each topic, index in topicList
        div(id='topicEditModal-' + topic.id).modal.modal-default.fade
            .modal-dialog.modal-lg
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4.modal-title Chỉnh sửa chủ đề
                    form(action="/quan-tri/chu-de/chinh-sua", method="post")
                        .modal-body
                            +generateHiddenField('id', topic.id)
                            .row
                                +generateTextBox(12, "name", "Tên chủ đề", "text", "Tên chủ đề", true, false, topic.name,  null)
                        .modal-footer
                            .row
                                +generateButton(12, "primary", "right", "submit", "Lưu thay đổi")
        div.modal.modal-danger.fade(id='topicDeleteModal-' + topic.id)
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4.modal-title Bạn có chắc chắn muốn xóa chủ đề này?
                    form(action="/quan-tri/chu-de/xoa", method="post")
                        -
                            var virtualTopic = {
                                name: topic.name,
                                createdAt: moment(topic.createdAt).fromNow(),
                                updatedAt: moment(topic.updatedAt).fromNow()
                            }
                        .modal-body
                            +generateHiddenField('id', topic.id)
                            -
                                var titleArray = ["Tên chủ đề", "Thời điểm tạo", "Thời điểm cập nhật"]
                                var attributeArray = ["name", "createdAt", "updatedAt"]
                            +generateDetails(titleArray, virtualTopic, attributeArray)
                            
                        .modal-footer
                            +generateButtonWithoutSize("outline", "right", "submit", "Xóa")
                    
            
            

block style
    +styleDataTables()

block script
    +scriptDataTables()
    script(src="/Script/Admin/Topic/index.min.js")