html(lang="vi")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Tải lên Video/File
        link(rel="stylesheet", href="/Assets/Admin/Components/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/Assets/Admin/Components/font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet", href="/Assets/Admin/Components/Ionicons/css/ionicons.min.css")
        link(rel="stylesheet", href="/Assets/Admin/Components/iCheck/square/blue.css")
        link(rel="stylesheet", href="/Styles/Admin/Shared/index.min.css")
    body.hold-transition.skin-purple.login-page
        .login-box
            .login-logo
                a(href="/")
                    span(style="color: purple; font-size: 30pt; font-weight: bolder") VES

            .login-box-body
                p.login-box-msg Tải lên video/file cho khoá học 
                form(action="/quan-tri/dang-nhap", method="post")
                    .form-group.has-feedback
                        input.form-control(type='text', placeholder='Tên video/file', name='name', required, autofocus='')                    
                        span.glyphicon.glyphicon-font.form-control-feedback    
                    .form-group.has-feedback
                        input.form-control(type='text', placeholder='Mô tả video/file', name='description', required, autofocus='')                    
                        span.glyphicon.glyphicon-edit.form-control-feedback      
                    .form-group.has-feedback
                        input.form-control(type='text', placeholder='Mật khẩu mở video/file', name='password', required)
                        span.glyphicon.glyphicon-lock.form-control-feedback
                    .form-group.has-feedback
                        input.form-control(type='selection', placeholder='Khoá học', name='course', required)
                        span.glyphicon.glyphicon-triangle-bottom.form-control-feedback
                    .form-group.has-feedback
                        input.form-control(type='file', placeholder='Video/file', name='file', required)
                        span.glyphicon.glyphicon-file.form-control-feedback
                    .row
                        .col-xs-7
                        .col-xs-5
                            button.btn.btn-primary.btn-block.btn-flat(type='submit') Tải lên 
                        
        script(src="/Assets/Admin/Components/jquery/dist/jquery.min.js")
        script(src="/Assets/Admin/Components/bootstrap/dist/js/bootstrap.min.js")
        script(src="/Assets/Admin/Components/iCheck/icheck.min.js")
