extends ../Shared/_Layout

block content-header 

block content
    .row
        .col-md-12
            .box.box-primary
                .box-header.with-border
                    h3.box-title Thêm bài học mới
                    br
                    span (Khóa học: 
                    strong #{course.name}
                    span )
                .box-body
                    form(action="/quan-tri/bai-hoc/" + course.id + "/them-moi", method="post")
                        .row
                            +generateTextBox(12, "name", "Tên bài học", "text", "Tên bài học", true, false, null,  null)
                        .row
                            +generateTextBox(12, "videoUrl", "Đường dẫn video", "text", "Đường dẫn video", false, false, null,  null)
                        .row
                            +generateTextarea(12, 'content', 'Nội dung bài học', '30', '')
                        .row
                            +generateMultipleSelect(12, 'filesId', 'Chọn file đính kèm', false, fileList, null)
                        .row
                            +generateButton(12, "primary", "center", "submit", "Thêm mới")
    .row
        .col-md-12
            a(href='/quan-tri/khoa-hoc') &lt;&lt; Trở về trang danh sách
block style
    +styleSelect2()
block script
    +scriptSelect2()
    +sciprtEditor()
    script(src="/Script/Admin/Lesson/create.min.js")