extends ../Shared/_Layout

block content-header 

block content
    .row
        .col-md-12
            .box.box-primary
                .box-header.with-border
                    h3.box-title Chỉnh sửa bài học
                    br
                    span (Tên bài học: 
                    strong #{lesson.name}
                    span )
                .box-body
                    form(action="/quan-tri/bai-hoc/chinh-sua/" + lesson.id, method="post")
                        .row
                            +generateTextBox(12, "name", "Tên bài học", "text", "Tên bài học", true, false, lesson.name,  null)
                        .row
                            +generateTextBox(12, "videoUrl", "Đường dẫn video", "text", "Đường dẫn video", false, false, lesson.videoUrl,  null)
                        .row
                            +generateTextarea(12, 'content', 'Nội dung bài học', '30', lesson.content)
                        .row
                            +generateMultipleSelect(12, 'filesId', 'Chọn file đính kèm', false, fileList, null)
                        .row
                            +generateButton(12, "primary", "center", "submit", "Lưu thay đổi")
    .row
        .col-md-12
            a(href='/quan-tri/khoa-hoc') &lt;&lt; Trở về trang danh sách
block style
    +styleSelect2()
block script
    +scriptSelect2()
    +sciprtEditor()
    script(src="/Script/Admin/Lesson/create.min.js")