html(lang="vi")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Thiết lập hệ thống
        link(rel="stylesheet", href="/Assets/Admin/Components/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/Assets/Admin/Components/font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet", href="/Assets/Admin/Components/Ionicons/css/ionicons.min.css")
        link(rel="stylesheet", href="/Assets/Admin/Components/iCheck/square/blue.css")
        link(rel="stylesheet", href="/Styles/Admin/Shared/index.min.css")
    body.hold-transition.login-page
        .login-box
            .login-logo
                a(href="/")

            .login-box-body
                p.login-box-msg Hệ thống chưa được thiết lập, vui lòng ấn cài đặt cho hệ thống để tạo tài khoản của quản trị viên hệ thống!
                form(action="/khoi-tao-he-thong", method="post")
                    .row.text-center
                        .col-xs-12
                            button.btn.btn-primary.btn-block.btn-flat(type="submit") Cài đặt hệ thống
        script(src="/Assets/Admin/Components/jquery/dist/jquery.min.js")
        script(src="/Assets/Admin/Components/bootstrap/dist/js/bootstrap.min.js")
        script(src="/Assets/Admin/Components/iCheck/icheck.min.js")
