@import "../Shared/Partials/variables";

.promotion-title-section {
    // .title-section {
    //     height: 537px;
    // }
}
.promotion-content-section {
    .promotion-title {
        color: $color-secondary;
        text-align: center;
    }
    .promotion-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .p-image {
            width: 98%;
            img {
                width: 100%;
            }
            @media (min-width: $screen-md) {
                width: 49%;
            }

        }
        .p-list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            @media (min-width: $screen-md) {
                width: 40%;
            }
            .p-item {
                .p-title.active {
                    color: $color-primary;
                }
                .p-content {
                    color: $color-7E;
                    padding: 5px 0 20px;
                    @media (min-width: $screen-md) {
                        padding: 13px 0 50px;            
                    }
                    .viewmore {
                        color: $color-C2;
                        padding-left: 5px;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
    .sub-promotion img {
        width: 100%;
    }

}