@import "../Shared/Partials/variables";

.title-section-help {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 384px;
    @media (min-width: $screen-sm) {
        height: 330px;
    }
    @media (min-width: $screen-md) {
        height: 384px;
    }
    @media (min-width: $screen-lg) {
        height: 537px;
    }
    .main-title {
        font-size: $font-35;
        font-family: $font-SF-Semibold;
        color: $color-white;
        letter-spacing: 0.5px;
        line-height: 43px;
        // @media (min-width: $screen-sm) {
        //     font-size: $font-35;
        //     line-height: 35px;
        // }
        @media (min-width: $screen-md) {
            font-size: $font-50;
            line-height: 55px;
        }
        @media (min-width: $screen-lg) {
            font-size: $font-70;
            line-height: 77px;
        }
    }
    img.bg {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
    }
    form {
        display: flex;
        position: absolute;
        top: 64%;
        width: 90%;
        height: 50px;
        border: 1px solid #afafaf;
        border-radius: 60px;
        @media (min-width: $screen-xs) {
            width: 48%;          
        }
        @media (min-width: $screen-md) {
            width: 36%;
        }
    }
    .input-search {
        border: 0;
        background: transparent;
        width: 85%;
        height: 100%;
        padding-left: 5%;
        color: $color-white;
        flex-grow: 1;
        // @media (min-width: $screen-md) {
        //     width: 92%;
        // }
        // @media (min-width: $screen-lg) {
        //     width: 95%;
        // }
        &::-webkit-input-placeholder {
            font-family: $font-SF-Text-Regular;
            font-size: $font-14;
            color: $color-C2;
            letter-spacing: 0;
            line-height: 24px;
        }
        &::-moz-placeholder {
            color: $color-C2;
            // font-size: $font-24;
        }
    }
    .search-icon {
        background: transparent;
        border: 0;
        cursor: pointer;
        display: block;
        padding-top: 8px;
        padding-right: 12px;
        img {
            width: 20px;
        }
    }
}
/*****Tabs***********/
.help-tabs {
    // max-width: $max-width-lg;
    // margin: auto;
    .tab-control {
        text-align: center;
        margin-top: 45px;
        a {
            // color: $color-C2;
            // font-family: $font-SF-Semibold;
            // font-size: $font-10;
            // letter-spacing: 1.5px;
            // line-height: 29px;
            text-transform: uppercase;
            margin-right: 40px;
            cursor: pointer;
            display: inline;
            // @media (min-width: $screen-xs) {
            //     font-size: $font-16;
            // }
            &:last-child {
                margin-right: 0px;
            }
            &:hover, &.active {
                color: $color-secondary;
            }
            &.inactive {
                color: $color-C2;
            }
 
        }
        
    }
    .d-none {
        display: none;
    }
    .d-block {
        display: block;
    }
    .tab-content {
        width: 100%;
        padding-top: 60px;
        @media (min-width: $screen-md) {
            padding-top: 130px;
        }
        .tab-title {
            color: $color-secondary;
            text-align: center;
            padding-bottom: 50px;
        }
        .help-tab-question {
            width: 320px;
            margin: auto;
            padding-bottom: 50px;
            @media (min-width: $screen-sm) {
                width: 488px;
            }
            @media (min-width: $screen-md) {
                width: 720px;
                padding-bottom: 130px;
            }
        }
        .tab-q {
            padding: 20px 10px;
            border-top: 1px solid $color-E6;
            &:last-child {
                border-bottom: 1px solid $color-E6;
            }
        }
        .tab-collapse {
            display: flex;
            justify-content: space-between;
            .tab-icon {
                display: inline-flex;
                align-items: center;
            }
        }
       
        .tab-ans {
            line-height: 28px;
            padding-top: 10px;
        }
        .help-tab-map {
            .tab-m {
                height: 600px;
                width: 100%;
                @media (min-width: $screen-md) {
                    height: 670px;
                }
            }
        }
    }
}