@import "../Shared/Partials/variables";

.features-title-section {
    .title-section {
        height: 537px;
    }
}
.features-content-section {
    background: url("/Assets/Images/Pictures/xsBg.png");
    // background: 0;
    height: 4010px;
    background-size: cover;
    background-repeat: no-repeat;
    @media (min-width: $screen-sm) {
        background: url("/Assets/Images/Pictures/smBg.png");
        height: 3390px;
    }
    @media (min-width: $screen-md) {
        height: 4236px;
        background: url("/Assets/Images/Pictures/features-bg.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    @media (min-width: $screen-lg) {
        background-size: cover;
        background-repeat: no-repeat;
        height: 5358px;
    }
    .features-list {
        width: 100%;
        position: relative;
        height: 100%;
        .peanut-list {
            position: absolute;
            top: 308px;
            right: 35px;
            display: none;
            @media (min-width: $screen-sm) {
                display: block;
            }
            @media (min-width: $screen-md) {
                top: 408px;
            }
            &.sticky {
                position: fixed;
                top: 408px;
                right: 35px;
            }
            &.stickyBot {
                position: absolute;
                bottom: 346px;
                right: 35px;
                top: auto;
            }
            a {
                display: block;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background: $color-E6;
                position: relative;
                margin-bottom: 18px;
                &.active {
                    &::after {
                        display: block;
                        content: "";
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        background: url('/Assets/Images/Icons/peanut.png') no-repeat;
                        background-size: contain;
                    }
                }
                &::after {
                    display: none;
                }
            }
        }
        .feature-item {
            max-width: $max-width-xs;
            margin: auto ;
            padding: 80px 0 40px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @media (min-width: $screen-sm) {
                flex-wrap: nowrap;
                max-width: 653px;   
            }
            @media (min-width: $screen-md) {
                max-width: 960px;    
                &:nth-child(odd) {
                    .content {
                        order: 3;
                    }
                    .blank {
                        order: 1;
                    }
                }            
            }
            @media (min-width: $screen-lg) {
                max-width: 1220px;
            }
            .image-ip {
                position: relative;
                order: 2;
                text-align: center;
                width: 100%;
                @media (min-width: $screen-sm) {
                    width: 69%;
                }
                @media (min-width: $screen-md) {
                    width: 50%;
                }
                @media (min-width: $screen-lg) {
                    width: auto;
                }
                .image img {
                    max-width: 100%;
                    @media (min-width: $screen-lg) {
                        width: 99%;
                    }
                }
                .term {
                    position: absolute;
                    top: 94%;
                    left: 50%;
                    transform: translate(-50%, 0);
                    color: $color-7E;
                }
            }
            .content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                order: 1;
                @media (min-width: $screen-sm) {
                    width: 50%;
                }
                @media (min-width: $screen-md) {
                    width: 33%;
                }
                @media (min-width: $screen-lg) {
                    width: 23%;
                }
                .title {
                    color: $color-secondary;
                    font-family: $font-SF-Semibold;
                    text-align: center;
                    @media (min-width: $screen-sm) {
                        text-align: initial;
                    }
                }
                .c-soon {
                    background: linear-gradient(315deg, #FCBC64 0%, #FF9800 35%, #F58220 100%);
                    color: $color-white;
                    width: 42%;
                    text-align: center;
                    margin: 10px auto 0;
                    @media (min-width: $screen-sm) {
                        margin: 10px 0 0;
                    }
                }
                .about {
                    padding-bottom: 10px;
                    padding-top: 20px;
                    line-height: 28px;
                }
                .a-list {
                    padding-left: 16px;
                    line-height: 28px;
                }
            }
            .blank {
                width: 33%;
                order: 3;
                display: none;
                @media (min-width: $screen-md) {
                    width: 33%;
                    display: block
                }
                @media (min-width: $screen-lg) {
                    width: 23%;
                }
            }
            
        }
        .feature-items {
            .image-ip {
                position: absolute;
                top: 370px;
                left: 53%;
                width: 40%;
                transform: translateX(-50%);
                @media (min-width: $screen-sm) {
                    top: 70px;
                    left: 70%;
                    width: 40%;                
                } 
                @media (min-width: $screen-md) {
                    top: 146px;
                    left: 55%;
                    width: auto;
                }
                @media (min-width: $screen-lg) {
                    left: 51%;
                }
                .image img {
                    position: relative;
                    max-width: 100%;
                    @media (min-width: $screen-md) {
                        width: 70%;
                    }
                    @media (min-width: $screen-lg) {
                        width: 99%;
                    }
                }
                .term {
                    position: absolute;
                    top: 93%;
                    left: 0%;
                    font-size: 10px;
                    line-height: 18px;
                    @media (min-width: $screen-sm) {
                        font-size: 14px;
                        line-height: 24px;
                        left: 18%;
                    }
                    @media (min-width: $screen-md) {
                        left: 12%;
                    }
                    @media (min-width: $screen-lg) {
                        left: 25%;
                    }
                }
                &.stickyy {
                    position: fixed;
                    top: 360px;
                    left: 53%;
                    transform: translateX(-50%);
                    @media (min-width: $screen-sm) {
                        left: 70%;
                        top: 230px;
                    }
                    @media (min-width: $screen-md) {
                        left: 55%;
                    }
                    @media (min-width: $screen-lg) {
                        left: 51%;
                    }
                }
                &.stickyyBot {
                    position: absolute;
                    bottom: 20px;
                    top: auto;
                    left: 53%;
                    transform: translateX(-50%);
                    @media (min-width: $screen-sm) {
                        bottom: 80px;
                        left: 70%;
                    }
                    @media (min-width: $screen-md) {
                        left: 55%;
                    }
                    @media (min-width: $screen-lg) {
                        left: 51%;
                    }
                }
            }
            .content {
                position: absolute;
                top: 2%;
                left: 6%;
                width: 90%;
                @media (min-width: $screen-sm) {
                    width: 37%;
                    left: 7%;
                    top: 6%;
                }
                @media (min-width: $screen-md) {
                    width: 22%;
                    top: 6%;
                    left: 17%;
                }
                @media (min-width: $screen-lg) {
                    width: 16%;
                    top: 7%;
                    left: 20%;
                }
                &.stickyy {
                    position: fixed;
                    top: 10%;
                    left: 6%;
                    width: 90%;
                    @media (min-width: $screen-sm) {
                        width: 37%;
                        top: 30%;
                        left: 7%;
                    }
                    @media (min-width: $screen-md) {
                        left: 17%;
                        top: 35%;
                        width: 22%;
                    }
                    @media (min-width: $screen-lg) {
                        width: 16%;
                        top: 35%;
                        left: 20%;
                    }
                }
                &.stickyyBot {
                    position: absolute;
                    top: auto;
                    bottom: 8%;
                    @media (min-width: $screen-sm) {
                        bottom: 6%;
                    }
                }
                &.right {
                    left: 7%;
                    @media (min-width: $screen-md) {
                        left: 68%;
                    }
                }
                .title {
                    color: $color-secondary;
                    font-family: $font-SF-Semibold;
                    text-align: center;
                    @media (min-width: $screen-sm) {
                        text-align: initial;
                    }
                }
                .c-soon {
                    background: linear-gradient(315deg, #FCBC64 0%, #FF9800 35%, #F58220 100%);
                    color: $color-white;
                    width: 42%;
                    text-align: center;
                    margin: 10px auto 0;
                    @media (min-width: $screen-sm) {
                        margin: 10px 0 0;
                    }
                }
                .about {
                    padding-bottom: 0;
                    padding-top: 10px;
                    line-height: 24px;
                    @media (min-width: $screen-sm) {
                        padding-bottom: 10px;
                        padding-top: 20px;
                        line-height: 28px;
                    }
                }
                ul {
                    padding-left: 16px;
                    line-height: 28px;
                }
            }
        }
    }
    .d-none {
        display: none;
    }
}
