include ./Partials/_FormElement
include ./Partials/_UIElement
include ./Partials/_IncludeStyle
include ./Partials/_IncludeScript

doctype html
html(lang="vi")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title VES - Video Elearning System
        meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
        link(rel='stylesheet', href='/Assets/Admin/Components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/Assets/Admin/Components/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='/Assets/Admin/Components/Ionicons/css/ionicons.min.css')
        link(rel='stylesheet', href='/Styles/Admin/Shared/index.min.css')
        //- link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
        block style
    body.hold-transition.skin-purple.sidebar-mini
        .wrapper
            header.main-header
                a.logo(href='/', target='_blank')
                    span.logo-mini
                        strong VES
                    span.logo-lg
                        strong VES
                nav.navbar.navbar-static-top
                    a.sidebar-toggle(href='#', data-toggle='push-menu', role='button')
                        span.sr-only Toggle navigation
                    ul.nav.navbar-nav.pull-right
                        li.logout-containner
                            a.btn.btn-flat.btn-danger.logout-button(href="/quan-tri/dang-xuat") Đăng xuất
          
            aside.main-sidebar
                section.sidebar
                    .user-panel
                        .pull-left.image
                            img.img-circle(src='http://via.placeholder.com/160x160', alt='User Image')
                        .pull-left.info
                            p #{user.displayName}
                            a(href='javascript:void(0)')
                                i.fa.fa-circle.text-success
                                |  Trực tuyến
                    include ./Partials/_Menu
        
            .content-wrapper
                section.content-header
                    block content-header

                section.content
                    block content
        
            footer.main-footer
                .pull-right.hidden-xs
                    b Phiên bản
                    |  1.0.0
                strong
                    | Copyright ©2018 
                    a(href='javascript:void(0)') VES
                    | .
      
    script(src='/Assets/Admin/Components/jquery/dist/jquery.min.js')
    script(src='/Assets/Admin/Components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/Script/Admin/Shared/index.min.js')
    block script