@import "../Shared/Partials/variables";

.policy-container {
    padding: 50px 13px 60px;
    margin: auto;
    max-width: 770px;
    @media (min-width: $screen-sm) {
        padding: 50px 200px 80px;
    }
    @media (min-width: $screen-md) {
        padding: 50px 40px 110px;
    }
    @media (min-width: $screen-lg) {
        padding: 50px 40px 150px;
    }
    div:not(:last-child) {
        margin-bottom: 50px;
    }
    h5 {
        margin-bottom: 20px;
    }
    h6 {
        margin-top: 30px;
        margin-bottom: 10px;
    }

    p {
        line-height: 28px;
        padding-bottom: 10px;
    }

}