extends ../Shared/_Layout

block content
    .row
        .col-md-12
            .box.box-primary
                .box-header.with-border
                    h3.box-title Kho file của tôi
                .box-body
                    .row
                        .col-md-12
                            a.btn.btn-primary.btn-flat(href="javascript:void(0)", data-toggle='modal', data-target='#fileAddModal') Thêm mới
                    br
                    .row
                        .col-md-12
                            table.table.table-responsive.table-striped.table-bordered
                                thead
                                    tr
                                        th.text-center STT
                                        th.text-center Tên hiển thị
                                        th.text-center Tên file
                                        th.text-center Định dạng
                                        th.text-center Dung lượng (KB)
                                        th.text-center Thao tác
                                tbody
                                    each file, index in fileList.filter(f => !f.hidden)
                                        tr
                                            td.text-center= index + 1
                                            td.text-left
                                                a(href=file.path)= file.displayName
                                            td.text-center= file.filename
                                            td.text-center= file.filetype
                                            td.text-center= numeral(file.size).format('0,0')
                                            td.text-center
                                                a(href='javascript:void(0)', data-toggle='modal', data-target='#fileEditModal-' + file.id) Sửa 
                                                span | 
                                                a(href='javascript:void(0)', data-toggle='modal', data-target='#fileDeleteModal-' + file.id) Xóa 
    div(id='fileAddModal').modal.modal-default.fade
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4.modal-title Thêm file mới
                form(action="/quan-tri/file/them-moi", method="post", enctype="multipart/form-data")
                    .modal-body
                        .row
                            +generateTextBox(12, "displayName", "Tên hiển thị", "text", "Tên hiển thị", false, false, null,  null)
                        .row
                            +generateFileUpload(12, "file", 'Chọn file để tải lên', 'primary', 'Chọn file', null, null, null)
                    .modal-footer
                        .row
                            +generateButton(12, "primary", "right", "submit", "Thêm mới")                                            
    each file, index in fileList
        div(id='fileEditModal-' + file.id).modal.modal-default.fade
            .modal-dialog.modal-lg
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4.modal-title Chỉnh sửa file
                    form(action="/quan-tri/file/chinh-sua", method="post")
                        .modal-body
                            +generateHiddenField('id', file.id)
                            .row
                                +generateTextBox(12, "displayName", "Tên hiển thị", "text", "Tên hiển thị", true, false, file.displayName,  null)
                        .modal-footer
                            .row
                                +generateButton(12, "primary", "right", "submit", "Lưu thay đổi")
        div.modal.modal-danger.fade(id='fileDeleteModal-' + file.id)
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4.modal-title Bạn có chắc chắn muốn xóa file này?
                    form(action="/quan-tri/file/xoa", method="post")
                        -
                            var virtualFile = {
                                name: file.displayName,
                                createdAt: moment(file.createdAt).fromNow(),
                                updatedAt: moment(file.updatedAt).fromNow()
                            }
                        .modal-body
                            +generateHiddenField('id', file.id)
                            -
                                var titleArray = ["Tên file", "Thời điểm tạo", "Thời điểm cập nhật"]
                                var attributeArray = ["name", "createdAt", "updatedAt"]
                            +generateDetails(titleArray, virtualFile, attributeArray)
                            
                        .modal-footer
                            +generateButtonWithoutSize("outline", "right", "submit", "Xóa")
                    
            
            

block style
    +styleDataTables()

block script
    +scriptFileUpload()
    +scriptDataTables()
    script(src="/Script/Admin/File/index.min.js")