@import "../Shared/Partials/variables";

.post-header {
    text-align: center;
    padding-top: 120px;
    .p-category {
        color: $color-99;
        text-transform: uppercase;
        span {
            color: $color-7E;
            font-style: italic;
            margin-left: 5px;
        }
    }
    .p-title {
        color: $color-secondary;
        font-family: $font-SF-Light;
        width: 80%;
        margin: 15px auto 40px;
        @media (min-width: $screen-sm) {
            margin: 15px auto 33px;   
            width: 60%;
        }
        @media (min-width: $screen-md) {
            // font-size: 70px;
            margin: 18px auto 50px;    
        }
        @media (min-width: $screen-lg) {
            margin: 30px auto 80px;
            width: 48%;
        }
    }
    .p-feature {
        height: 178px;
        @media (min-width: $screen-sm) {
            height: 388px;     
        }
        @media (min-width: $screen-md) {
            height: 730px;
        }
        @media (min-width: $screen-lg) {
            height: 800px;   
        }
        img {
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
    }
}
.post-content {
    padding: 50px 0 60px;
    width: 320px;
    margin: auto;
    position: relative;
    @media (min-width: $screen-sm) {
        width: 360px;
    }
    @media (min-width: $screen-md) {
        width: 690px;
        padding: 80px 0;
    }
    .p-social {
        position: relative;
        text-align: center;
        @media (min-width: $screen-sm) {
            position: absolute;
            left: -30%;
            top: 8%;
        }
        a {
            display: inline-block;
            margin-right: 20px;
            margin-bottom: 0;
            @media (min-width: $screen-sm) {
                display: block;
                margin-bottom: 20px;
                margin-right: 0;
            }
        }
        .fb-icon {
            width: 30px;
            height: 30px;
            background: url('/Assets/Images/Icons/Facebook.png') no-repeat; 
            background-size: contain;
            &:hover {
                background-image: url('/Assets/Images/Icons/fb-hover.png');
            }
            @media (min-width: $screen-sm) {
                width: 40px;
                height: 40px;
            }
        }
        .ig-icon {
            width: 30px;
            height: 30px;
            background: url('/Assets/Images/Icons/Instagram.png') no-repeat; 
            background-size: contain;
            &:hover {
                background-image: url('/Assets/Images/Icons/ig-hover.png');
            }
            @media (min-width: $screen-sm) {
                width: 40px;
                height: 40px;
            }
        }
        
    }
    h6 {
        margin-top: 20px;
        margin-bottom: 10px;
        // font-family: $font-SF-Medium;
        // font-size: $font-14;
        color: $color-48;
        letter-spacing: 0.3px;
        // line-height: 27px;
        // @media (min-width: 1025px) {
        //     font-size: $font-20;
        // }
    }
    p {
        color: $color-7E;
        // font-family: $font-SF-Text-Regular;
        // font-size: $font-12;
        letter-spacing: 0;
        line-height: 28px;
        padding-bottom: 10px;
        // @media (min-width: 1025px) {
        //     font-size: $font-16;
        //     line-height: 28px;
        // }
    }
    h4 {
        background: url("/Assets/Images/Elements/QuoteBlog.png");
        color: $color-white;
        // font-family: $font-SF-Light;
        // font-size: 20px;
        // letter-spacing: 0.38px;
        // line-height: 43px;
        margin: 50px 0;
        padding: 40px 50px 40px;
        @media (min-width: $screen-sm) {
            // font-size: 30px;
            padding: 40px 50px 90px;  
        }
    }
    
    .p-content img {
        width: 100%;
        margin: 50px 0;
    }
}
.post-footer {
    padding-bottom: 80px;
    width: 320px;
    margin: auto;
    @media (min-width: $screen-sm) {
        width: 360px;
    }
    @media (min-width: $screen-md) {
        width: 690px;
        padding-bottom: 140px;
    }
    .post-tags {
        border-top: 2px solid $color-E6;
        border-bottom: 2px solid $color-E6;
        display: flex;
        padding: 26px 0;
        .tag-item {
            background: $color-E6;
            border-radius: 100px;
            color: $color-7E;
            font-family: $font-SF-Display-Regular;
            font-size: $font-14;
            padding: 6px 10px;
            text-align: center;
            text-transform: uppercase;
            @media (min-width: $screen-md) {
                padding: 10px 17px;
            }
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
    .post-next {
        padding-top: 50px;
        .next-title {
            color: $color-7E;
            font-family: $font-SF-Semibold;
        }
        .next-post-title {
            color: $color-48;
            font-family: $font-SF-Light;
            padding-top: 20px;
            font-family: $font-SF-Semibold;
            font-size: $font-35;
            letter-spacing: 0.5px;
            line-height: 43px;
            @media (min-width: $screen-md) {
                font-size: $font-50;
                line-height: 55px;
            }
            @media (min-width: $screen-lg) {
                font-size: $font-70;
                line-height: 77px;
            }
        }
    }
}