extends ../Shared/_Layout

block content
    form(action="/quan-tri/vai-tro/chinh-sua/", method="post")
        +generateHiddenField('id', role.id)
        .row
            .col-md-4
                .box.box-primary
                    .box-header.with-border
                        h3.box-title Thông tin vai trò
                    .box-body
                        .row
                            +generateTextBox(12, "title", "Tên vai trò", "text", "Tên vai trò", true, false, role.title, null)
                        .row
                            +generateButton(12, "primary", "center", "submit", "Lưu thay đổi")
                a(href='/quan-tri/vai-tro') &lt;&lt; Trở về trang danh sách
            .col-md-8
                .box.box-primary
                    .box-header.with-border
                        h3.box-title Danh sách các chức năng hỗ trợ
                    .box-body
                        
                        .row
                            .col-md-12
                                //- +generateHiddenField('topicList', JSON.stringify(topicList))
                                table.table.table-responsive.table-striped.table-bordered
                                    thead
                                        tr
                                            th.text-center Tên chức năng
                                            th.text-center Chọn?
                                    tbody
                                        each feature, index in featureList
                                            tr
                                                td.text-left
                                                    if (feature.parentFeature)
                                                        span - #{feature.name}
                                                    else
                                                        strong #{feature.name}
                                                td.text-center
                                                    if (role.features.find(f => f.code === feature.code))
                                                        if (feature.parentFeature)
                                                            input.minimal(type="checkbox", name="featureCode", checked, value=feature.code, data-feature-code=feature.code, data-parent-code=feature.parentFeature.code)
                                                        else
                                                            input.minimal(type="checkbox", name="featureCode", checked, value=feature.code, data-feature-code=feature.code)
                                                    else
                                                        if (feature.parentFeature)
                                                            input.minimal(type="checkbox", name="featureCode", value=feature.code, data-feature-code=feature.code, data-parent-code=feature.parentFeature.code)
                                                        else
                                                            input.minimal(type="checkbox", name="featureCode", value=feature.code, data-feature-code=feature.code)


                                    
block style
    +styleICheck()
    +styleDataTables()

block script
    +scriptICheck()
    +scriptDataTables()
    script(src="/Script/Admin/Role/create.min.js")