extends ../Shared/_Layout

block content
    -
        var hasAdd = user.role.features.find(f => f.code === 'ADD_ROLE')
        var hasEdit = user.role.features.find(f => f.code === 'EDIT_ROLE')
        var hasDelete = user.role.features.find(f => f.code === 'DELETE_ROLE')
    .row
        .col-md-12
            .box.box-primary
                .box-header.with-border
                    h3.box-title Quản lý các vai trò
                .box-body
                    if (hasAdd)
                        .row
                            .col-md-12
                                a.btn.btn-primary.btn-flat(href="/quan-tri/vai-tro/them-moi") Thêm mới
                        br
                    .row
                        .col-md-12
                            table.table.table-responsive.table-striped.table-bordered
                                thead
                                    tr
                                        th.text-center STT
                                        th.text-center Tên vai trò
                                        th.text-center SL chức năng
                                        th.text-center Thao tác
                                tbody
                                    each role, index in roleList
                                        tr
                                            td.text-center= index + 1
                                            td.text-left= role.title
                                            td.text-center= role.features.length
                                            td.text-center
                                                if (!role.disabled)
                                                    if (hasEdit)
                                                        a(href='/quan-tri/vai-tro/chinh-sua/' + role.id) Sửa 
                                                    if (hasEdit && hasDelete)
                                                        span | 
                                                    if (hasDelete)
                                                        a(href='javascript:void(0)', data-toggle='modal', data-target='#roleDeleteModal-' + role.id) Xóa
    if (hasDelete)
        each role, index in roleList
            div.modal.modal-danger.fade(id='roleDeleteModal-' + role.id)
                .modal-dialog
                    .modal-content
                        .modal-header
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                span(aria-hidden='true') ×
                            h4.modal-title Bạn có chắc chắn muốn xóa vai trò này?
                        form(action="/quan-tri/vai-tro/xoa", method="post")
                            -
                                var virtualRole = {
                                    title: role.title,
                                    createdAt: moment(role.createdAt).fromNow(),
                                    updatedAt: moment(role.updatedAt).fromNow()
                                }
                            .modal-body
                                +generateHiddenField('id', role.id)
                                -
                                    var titleArray = ["Tên vai trò", "Thời điểm tạo", "Thời điểm cập nhật"]
                                    var attributeArray = ["title", "createdAt", "updatedAt"]
                                +generateDetails(titleArray, virtualRole, attributeArray)
                                
                            .modal-footer
                                +generateButtonWithoutSize("outline", "right", "submit", "Xóa")

block style
    +styleDataTables()

block script
    +scriptDataTables()
    script(src="/Script/Admin/Role/index.min.js")