extends ../Shared/_Layout

block content
    .row
        .col-md-4
            .box.box-info
                .box-header.with-border
                    h3.box-title Thông tin chung
                    br
                    a(href='/tinh-nang', target='_blank')
                        em (Xem trang)
                .box-body
                    form(action="/trang-tinh-nang/thong-tin-chung", method="post", enctype="multipart/form-data")
                        if (!(editTitleSuccessMessage.length === 0 || !editTitleSuccessMessage))
                            .row
                                .col-md-12
                                    p.text-primary= editTitleSuccessMessage
                        .row
                            +generateTextBox(12, "title", "Tiêu đề trang tính năng", "text", "Tiêu đề trang tính năng", true, false, featureTitle.title,  null)
                        .row
                            +generateFileUpload(12, "file", 'Ảnh đại diện', 'primary', 'Chọn file', featureTitle.featureImage, "image/*", null)
                        .row
                            +generateButton(12, "primary", "center", "submit", "Lưu thay đổi")
        .col-md-8
            .box.box-info
                .box-header.with-border
                    h3.box-title Các tính năng
                .box-body
                    .row
                        .col-md-12
                            a.btn.btn-primary.btn-flat(href="javascript:void(0)", data-toggle='modal', data-target='#featureAddModal') Thêm mới
                    br
                    .row
                        .col-md-12
                            +generateHiddenField('featuresList', JSON.stringify(featureList))
                            table.table.table-responsive.table-striped.table-bordered
                                thead
                                    tr
                                        th.text-center STT
                                        th.text-center Tính năng
                                        th.text-center Thao tác
                                tbody
                                    each feature, index in featureList
                                        tr
                                            td.text-center= index + 1
                                            td.text-left= feature.title
                                            td.text-center
                                                a(href='javascript:void(0)', data-toggle='modal', data-target='#featureEditModal-' + feature.id) Sửa 
                                                span | 
                                                a(href='javascript:void(0)', data-toggle='modal', data-target='#featureDeleteModal-' + feature.id) Xóa 
                                                if (index > 0)
                                                    span | 
                                                    a(href='/trang-tinh-nang/len/' + feature.id)
                                                        i.fa.fa-arrow-up 
                                                if (index < featureList.length - 1)
                                                    span | 
                                                    a(href='/trang-tinh-nang/xuong/' + feature.id)
                                                        i.fa.fa-arrow-down
    div(id='featureAddModal').modal.modal-default.fade
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4.modal-title Thêm tính năng
                form(action="/trang-tinh-nang/them-moi", method="post", enctype="multipart/form-data")
                    .modal-body
                        .row
                            +generateTextBox(6, "title", "Tên tính năng", "text", "Tên tính năng", true, false, null,  null)
                            +generateTextBox(6, "tag", "Thẻ biệt hiệu", "text", "Thẻ biệt hiệu", false, false, null,  null)
                        .row
                            +generateFileUpload(6, "homeFile", 'Ảnh tính năng cho trang chủ', 'primary', 'Chọn file', null, "image/*", null, 'homeFile')
                            +generateFileUpload(6, "featureFile", 'Ảnh tính năng cho trang tính năng', 'primary', 'Chọn file', null, "image/*", null, 'featureFile')
                        .row
                            +generateTextarea(6, 'homeText', 'Nội dung cho trang chủ', '5', null)
                            +generateTextarea(6, 'featureText', 'Nội dung cho trang tính năng', '5', null)
                        .row
                            +generateTextBox(6, "homeLink", "Đường dẫn cho trang chủ", "text", "Đường dẫn cho trang chủ", false, false, null,  null)
                            +generateTextBox(6, "featureLink", "Đường dẫn cho trang tính năng", "text", "Đường dẫn cho trang tính năng", false, false, null,  null)
                        .row
                            +generateTextBox(6, "homeLinkText", "Nội dung ĐD cho trang chủ", "text", "Nội dung đường dẫn cho trang chủ", false, false, null,  null)
                            +generateTextBox(6, "featureLinkText", "Nội dung ĐD cho trang tính năng", "text", "Nội dung đường dẫn cho trang tính năng", false, false, null,  null)
                    .modal-footer
                        .row
                            +generateButton(12, "primary", "right", "submit", "Thêm mới")
    each feature, index in featureList
        div(id='featureEditModal-' + feature.id).modal.modal-default.fade
            .modal-dialog.modal-lg
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4.modal-title Thiết lập nội dung tính năng
                    form(action="/trang-tinh-nang/chinh-sua", method="post", enctype="multipart/form-data")
                        .modal-body
                            +generateHiddenField('id', feature.id)
                            .row
                                +generateTextBox(6, "title", "Tên tính năng", "text", "Tên tính năng", true, false, feature.title,  null)
                                +generateTextBox(6, "tag", "Thẻ biệt hiệu", "text", "Thẻ biệt hiệu", false, false, feature.tag,  null)
                            .row
                                +generateFileUpload(6, "homeFile", 'Ảnh tính năng cho trang chủ', 'primary', 'Chọn file', feature.homeImage, "image/*", null, 'homeFile')
                                +generateFileUpload(6, "featureFile", 'Ảnh tính năng cho trang tính năng', 'primary', 'Chọn file', feature.featureImage, "image/*", null, 'featureFile')
                            .row
                                +generateTextarea(6, 'homeText', 'Nội dung cho trang chủ', '5', feature.homeText)
                                +generateTextarea(6, 'featureText', 'Nội dung cho trang tính năng', '5', feature.featureText)
                            .row
                                +generateTextBox(6, "homeLink", "Đường dẫn cho trang chủ", "text", "Đường dẫn cho trang chủ", false, false, feature.homeLink,  null)
                                +generateTextBox(6, "featureLink", "Đường dẫn cho trang tính năng", "text", "Đường dẫn cho trang tính năng", false, false, feature.featureLink,  null)
                            .row
                                +generateTextBox(6, "homeLinkText", "Nội dung ĐD cho trang chủ", "text", "Nội dung đường dẫn cho trang chủ", false, false, feature.homeLinkText,  null)
                                +generateTextBox(6, "featureLinkText", "Nội dung ĐD cho trang tính năng", "text", "Nội dung đường dẫn cho trang tính năng", false, false, feature.featureLinkText,  null)
                        .modal-footer
                            .row
                                +generateButton(12, "primary", "right", "submit", "Lưu thay đổi")
        div.modal.modal-danger.fade(id='featureDeleteModal-' + feature.id)
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4.modal-title Bạn có chắc chắn muốn không sử dụng tính năng này?
                    form(action="/trang-tinh-nang/xoa", method="post")
                        -
                            var virtualFeature = {
                                title: feature.title,
                                createdAt: moment(feature.createdAt).fromNow(),
                                updatedAt: moment(feature.updatedAt).fromNow()
                            }
                        .modal-body
                            +generateHiddenField('id', feature.id)
                            -
                                var titleArray = ["Tên tính năng", "Thời điểm tạo", "Thời điểm cập nhật"]
                                var attributeArray = ["title", "createdAt", "updatedAt"]
                            +generateDetails(titleArray, virtualFeature, attributeArray)
                            
                        .modal-footer
                            +generateButtonWithoutSize("outline", "right", "submit", "Xóa")
            

block style
    +styleDataTables()

block script
    +scriptFileUpload()
    +scriptDataTables()
    +sciprtEditor()
    script(src="/Script/Admin/Feature/index.min.js")