extends ../Shared/_Layout

block content
    .row
        .col-md-12
            .box.box-primary
                .box-header.with-border
                    h3.box-title Quản lý các tài khoản (các tài khoản quản trị viên)
                .box-body
                    .row
                        .col-md-12
                            a.btn.btn-primary.btn-flat(href="javascript:void(0)", data-toggle='modal', data-target='#userAddModal') Thêm mới
                    br
                    .row
                        .col-md-12
                            //- +generateHiddenField('topicList', JSON.stringify(topicList))
                            table.table.table-responsive.table-striped.table-bordered
                                thead
                                    tr
                                        th.text-center STT
                                        th.text-center Tên tài khoản
                                        th.text-center Tên hiển thị
                                        th.text-center Vai trò
                                        th.text-center Hoạt động?
                                        th.text-center Thao tác
                                tbody
                                    each user, index in userList.filter(u => u.isAdmin)
                                        tr
                                            td.text-center= index + 1
                                            td.text-left= user.username
                                            td.text-left= user.displayName
                                            td.text-center= user.role.title
                                            td.text-center
                                                if (user.status === "ACTIVE")
                                                    input.minimal(type="checkbox", checked, data-username=user.username)
                                                else
                                                    input.minimal(type="checkbox", data-username=user.username)
                                            td.text-center
                                                a(href='javascript:void(0)', data-toggle='modal', data-target='#userEditModal-' + user.id) Sửa 
                                                
    div(id='userAddModal').modal.modal-default.fade
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4.modal-title Thêm tài khoản
                form(action="/quan-tri/tai-khoan/them-moi", method="post")
                    .modal-body
                        .row
                            +generateTextBox(6, "username", "Tên tài khoản", "text", "Tên tài khoản", true, false, null,  null)
                            +generateTextBox(6, "displayName", "Tên hiển thị", "text", "Tên hiển thị", true, false, null,  null)
                        .row
                            +generateTextBox(6, "password", "Mật khẩu", "text", "Mật khẩu", true, true, randomstring.generate(8),  null)
                            +generateSelect(6, 'roleId', 'Chọn vai trò cấp phát cho tài khoản', true, roleList, null)
                    .modal-footer
                        .row
                            +generateButton(12, "primary", "right", "submit", "Thêm mới")                                            
    each user, index in userList.filter(u => u.isAdmin)
        div(id='userEditModal-' + user.id).modal.modal-default.fade
            .modal-dialog.modal-lg
                -
                    var selectedRoleList = roleList.map(r => Object({
                        text: r.text,
                        id: r.id,
                        selected: user.role.id === r.id
                    }))
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4.modal-title Chỉnh sửa thông tin tài khoản
                    form(action="/quan-tri/tai-khoan/chinh-sua", method="post")
                        .modal-body
                            +generateHiddenField('id', user.id)
                            .row
                                +generateTextBox(6, "username", "Tên tải khoản", "text", "Tên tài khoản", true, true, user.username,  null)
                                +generateTextBox(6, "displayName", "Tên hiển thị", "text", "Tên hiển thị", true, false, user.displayName,  null)
                            .row
                                +generateTextBox(6, "password", "<span>Mật khẩu (</span><a href='javascript:void(0)' class='generateRandomPassword'>Cấp mới</a><span>)</span>", "text", "Mật khẩu", true, true, null,  null)
                                +generateSelect(6, 'roleId', 'Chọn vai trò cấp phát cho tài khoản', true, selectedRoleList, null)
                        .modal-footer
                            .row
                                +generateButton(12, "primary", "right", "submit", "Lưu thay đổi")
    //-     div.modal.modal-danger.fade(id='topicDeleteModal-' + topic.id)
    //-         .modal-dialog
    //-             .modal-content
    //-                 .modal-header
    //-                     button.close(type='button', data-dismiss='modal', aria-label='Close')
    //-                         span(aria-hidden='true') ×
    //-                     h4.modal-title Bạn có chắc chắn muốn xóa chủ đề này?
    //-                 form(action="/quan-tri/chu-de/xoa", method="post")
    //-                     -
    //-                         var virtualTopic = {
    //-                             name: topic.name,
    //-                             createdAt: moment(topic.createdAt).fromNow(),
    //-                             updatedAt: moment(topic.updatedAt).fromNow()
    //-                         }
    //-                     .modal-body
    //-                         +generateHiddenField('id', topic.id)
    //-                         -
    //-                             var titleArray = ["Tên chủ đề", "Thời điểm tạo", "Thời điểm cập nhật"]
    //-                             var attributeArray = ["name", "createdAt", "updatedAt"]
    //-                         +generateDetails(titleArray, virtualTopic, attributeArray)
                            
    //-                     .modal-footer
    //-                         +generateButtonWithoutSize("outline", "right", "submit", "Xóa")
                    
            
            

block style
    +styleICheck()
    +styleSelect2()
    +styleDataTables()

block script
    +scriptICheck()
    +scriptSelect2()
    +scriptDataTables()
    script(src="/Script/Admin/User/index.min.js")