$screen-xs: 415px; //un-use
$screen-sm: 767px; // for 768+
$screen-md: 1025px; //for 1440
$screen-lg: 1600px; //for 1920

$max-width-lg: 1410px; //for screen (1600+) 1920
$max-width-md: 1056px; //for screen (1025+) 1440
$max-width-sm: 744px; //for screen (768+) 768 1024 (old 700)
$max-width-xs: 320px; //for mobile 574 414 (old 350)