$font-SF-Text-Regular: 'SF-Text-Regular'; //14 16
$font-SF-Display-Regular: 'SF-Display-Regular'; //12
$font-SF-Semibold: 'SF-Semibold'; //Size 14 16 24 50 70
$font-SF-Ultralight: 'SF-Ultralight'; //80
$font-SF-Thin: 'SF-Thin'; //35
$font-SF-Light: 'SF-Light'; //30
$font-SF-Medium: 'SF-Medium'; //20

