mixin generateHiddenField(name, value)
    input(type="hidden", name=name, value=value)
    
mixin generateTextBox(col, name, title, type, placeholder, require, readonly, defaultValue, errorMessage)
    div(class=("col-md-" + col))
        .form-group
            label.control-label(for=name)!= title
            if (require)
                if (readonly)
                    input.form-control(type=type, name=name, placeholder=placeholder, value=defaultValue, required, readonly)
                else
                    input.form-control(type=type, name=name, placeholder=placeholder, value=defaultValue, required)
            else
                if (readonly)
                    input.form-control(type=type, name=name, placeholder=placeholder, value=defaultValue, readonly)
                else
                    input.form-control(type=type, name=name, placeholder=placeholder, value=defaultValue)

            span.text-danger= errorMessage

mixin generateButton(col, style, side, type, title)
    div(class=("col-md-" + col + " text-" + side))
        .form-group
            input(type=type, value=title, class=("btn btn-flat btn-" + style))

mixin generateButtonWithoutSize(style, side, type, title)
    div(class=("text-" + side))
        input(type=type, value=title, class=("btn btn-flat btn-" + style))

mixin generateFileUpload(col, name, title, btnClass, btnText, defaultLink, mimeType, errorMessage, nickname)
    div(class=("col-md-" + col))
        .form-group
            label.control-label(for=name)
                span #{title} 
                if (defaultLink)
                    | (
                    a(href=defaultLink, target='_blank') Xem
                    | )
            input.form-control(type='file', name=name, class='filestyle', data-buttonName='btn btn-' + btnClass, data-buttonText=btnText, accept=mimeType, data-nickname=nickname)
            span.text-danger= errorMessage

mixin generateTextarea(col, name, title, rows, defaultHtml)
    div(class=("col-md-" + col))
        .form-group
            label.control-label(for=name)= title
            textarea.form-control(name=name, rows=rows, id=name)!= defaultHtml

mixin generateDetails(titleArray, content, attributeArray)
    dl.dl-horizontal
        each title, index in titleArray
            dt= title
            dd= content[attributeArray[index]]

mixin generateSelect(col, name, title, require, values, errorMessage)
    div(class=("col-md-" + col))
        .form-group
            label.control-label(for=name)= title
            if (require)
                select.form-control.select2(class="js-single-select", name=name, required, style="width: 100%;")
                    each value, index in values
                        option(value=value.id, selected=value.selected)= value.text
            else
                select.form-control.select2(class="js-single-select", name=name, style="width: 100%;")
                    each value, index in values
                        option(value=value.id, selected=value.selected)= value.text
            span.text-danger= errorMessage

mixin generateMultipleSelect(col, name, title, require, values, errorMessage)
    div(class=("col-md-" + col))
        .form-group
            label.control-label(for=name)= title
            if (require)
                select.form-control.select2(class="js-multiple-select-with-tags", name=name, required, style="width: 100%;", multiple)
                    each value, index in values
                        option(value=value.id, selected=value.selected)= value.text
            else
                select.form-control.select2(class="js-multiple-select-with-tags", name=name, style="width: 100%;", multiple)
                    each value, index in values
                        option(value=value.id, selected=value.selected)= value.text
            span.text-danger= errorMessage