mixin styleDataTables()
    link(rel="stylesheet", href="/Assets/Admin/Components/datatables.net-bs/css/dataTables.bootstrap.min.css", type="text/css")

mixin styleSelect2()
    link(rel="stylesheet", href="/Assets/Admin/Components/select2/dist/css/select2.min.css", type="text/css")

mixin styleICheck()
    link(rel="stylesheet", href="/Assets/Admin/Components/iCheck/all.css", type="text/css")
