mixin scriptFileUpload()
    script(src="/Assets/Admin/Components/bootstrap-filestyle/src/bootstrap-filestyle.min.js")

mixin sciprtEditor()
    script(src="/Assets/Admin/Components/ckeditor/ckeditor.js")

mixin scriptDataTables()
    script(src="/Assets/Admin/Components/datatables.net/js/jquery.dataTables.min.js")
    script(src="/Assets/Admin/Components/datatables.net-bs/js/dataTables.bootstrap.min.js")

mixin scriptSelect2()
    script(src="/Assets/Admin/Components/select2/dist/js/select2.full.min.js")
    script(src="/Assets/Admin/Components/select2/dist/js/i18n/vi.js")

mixin scriptICheck()
    script(src="/Assets/Admin/Components/iCheck/icheck.min.js")

mixin scriptNumericInputMask()
    script(src="/Assets/Admin/Components/input-mask/inputmask.js")
    script(src="/Assets/Admin/Components/input-mask/inputmask.extensions.js")
    script(src="/Assets/Admin/Components/input-mask/inputmask.numeric.extensions.js")
    script(src="/Assets/Admin/Components/input-mask/jquery.inputmask.js")

