ul.sidebar-menu(data-widget='tree')
    li.header Thanh công cụ
    each func in features
        if (func.active)
            li.active
                a(href=func.link)
                    i(class=("fa fa-" + func.icon))
                    span= func.menuTitle
        else
            li
                a(href=func.link)
                    i(class=("fa fa-" + func.icon))
                    span= func.menuTitle