mixin generateButtonLink(href, style, text)
    a(class="btn btn-flat btn-" + style, href=href)= text

mixin generateTable(tableTitle, tableRows, cellAglignments, tableStyle, attributesOrder, haveNo, activitiesInfo)
    table(class="table table-responsive " + tableStyle)
        thead
            tr
                each title in tableTitle
                    th.text-center= title
        tbody
            each rowValue, rowIndex in tableRows
                tr
                    if (haveNo)
                        td.text-center= rowIndex + 1
                        
                    - var cellIndex = 0;
                    while cellIndex < attributesOrder.length
                        td(class="text-" + cellAglignments[cellIndex])!= rowValue[attributesOrder[cellIndex]]
                        - cellIndex++;
                    
                    if (activitiesInfo != null)
                        td(class="text-" + cellAglignments[cellIndex])
                            each activity, index in activitiesInfo.activitiesOrder
                                if (index > 0)
                                    span | 
                                - var activityInfo = activitiesInfo.activities[activity]
                                if (activity === 'publish')
                                    //- | #{JSON.stringify(rowValue[activityInfo.attribute])}
                                    - var status = activityInfo.values.find((v) => v.value === rowValue[activityInfo.attribute])
                                    a(href=activitiesInfo.baseUrl + "/" + activityInfo.link + "/" + rowValue[activitiesInfo.keyAttribute])= status.text
                                else
                                    - 
                                        var href = "";
                                        if (activityInfo.absolute)
                                            href = activityInfo.link;
                                        else href = activitiesInfo.baseUrl + "/" + activityInfo.link + "/" + rowValue[activitiesInfo.keyAttribute];
                                    a(href=href)= activityInfo.text
                                span 
    