@import "../Shared/Partials/variables";

.register-page {
    padding: 130px 0;
    text-align: center;
    .h1 {
        // color: $color-secondary;
        padding-bottom: 30px;
        font-family: "SF-Thin";
    }
    p {
       line-height: 28px;
    }
    .form-container {
        width: 100%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 60px 0 40px;
        @media (min-width: $screen-sm) {
            width: 80%;
        }
        @media (min-width: $screen-md) {
            width: 50%;
        }
        .form-item {
            display: flex;
            height: 50px;
            border: 1px solid $color-E6;
            border-radius: 60px;
            width: 100%;
            margin-bottom: 15px;
            &.half {
                width: 48%;
            }
            input {
                border: 0;
                width: 100%;
                height: 100%;
                background: transparent;
                padding-left: 20px;
                color: $color-7E;
                flex-grow: 1;
                &::-webkit-input-placeholder {
                    font-family: $font-SF-Text-Regular;
                    font-size: $font-14;
                    color: $color-C2;
                    letter-spacing: 0;
                    line-height: 24px;
                }
                ::-moz-placeholder {
                    color: $color-C2;
                }
                &.with-icon {
                    width: 85%;
                }
                &.date-type {
                    width: 70%;
                }
            }
            select {
                border: 0;
                color: $color-C2;                
                width: 98%;
                padding-left: 20px;
                background: transparent;
                -webkit-appearance:none;
                -moz-appearance:none;
                appearance:none;
            }
            input[type="date"] {
                color: $color-C2;
                &::-webkit-inner-spin-button {
                    display: none;
                }
                &::-webkit-calendar-picker-indicator {
                    padding-right: 10px;
                }

            }
            .icon {
                display: block;
                padding-top: 15px;
                padding-right: 12px;
                img {
                    width: 20px;
                }
            }
            .ui-datepicker-trigger {
                width: 20px;
                height: 20px;
                margin: 15px;
            }
        }
    }
    button {
        border: none;
    }
    .btn {
        display: block;
        height: 60px;
        line-height: 60px;
        margin: auto;
    }
}
//////////////////
.reg-bg {
    background: #f2f2f8
}
.reg-instruction {
    margin: auto;
    max-width: $max-width-xs;
    padding: 50px 0;
    @media (min-width: $screen-sm) {
        max-width: $max-width-sm;
    }
    @media (min-width: $screen-md) {
        padding: 130px 0;
        max-width: $max-width-md;
    }
    @media (min-width: $screen-lg) {
        max-width: $max-width-lg;
    }
    .instruction-title {
        text-align: center;
        margin-bottom: 5.7%;
    }
    .instruction-content {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        justify-content: space-between;
        .ins-bg {
            width: 100%;
            @media (min-width: $screen-sm) {
                width: 66%;                
            }
            position: relative;
            img {
                width: 100%
            }
            .ip-step {
                position: absolute;
                height: 63.6%;
                top: 18%;
                left: 28.4%;
                img {
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
        .ins-steps {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-content: space-evenly;
            order: -1;
            text-align: center;
            z-index: 2;
            @media (min-width: $screen-sm) {
                width: 30%;
                padding-bottom: 10%;
                order: 1;
                text-align: left;
            }
            @media (min-width: $screen-md) {
                width: 20%;
            }
            .step {
                width: 20%;
                @media (min-width: $screen-sm) {
                    width: 100%;
                }
                span:hover {
                    .dots{
                        background: $color-primary; 
                    }
                    .step-text {
                        color: $color-black;
                    }
                }
            }
        }
    }
    .dots {
        color: $color-white;
        cursor: pointer;
        display: inline-block;
        font-size: $font-10;
        font-family: $font-SF-Display-Regular;
        background: linear-gradient(316deg, #AB47BC 4%, #8E24AA 49%, #5D2E86 100%);
        padding: 8px 14px;
        border-radius: 50%;
        position: relative;
        width: 32px;
        @media (min-width: $screen-sm) {
            font-size: $font-14;
            padding: 12px 17px;
            width: 40px;    
        }
        &:hover, &.active {
            background: linear-gradient(315deg, #FCBC64 0%, #FF9800 35%, #F58220 100%);
        }
        &::before {
            content:"";
            position: absolute;
            left: -50%;
            top: 50%;
            height: 1px;
            width: 70px;
            z-index: -1;
            background: $color-C2;
            @media (min-width: $screen-sm) {
                left: 50%;
                top: -100%;
                height: 120px;
                width: 1px;
                // left: 0;
            }
        }
    }
    .step-text {
        display: inline-block;
        color: $color-99;
        padding-left: 5px;
        text-transform: uppercase;
        font-size: 12px;
        padding-top: 8px;
        line-height: 18px;
        cursor: pointer;
        @media (min-width: $screen-sm) {
            font-size: $font-14;
            padding-left: 20px;
            padding-top: 0;
            line-height: 28px;
        }
        &:hover, &.active {
            color: $color-black;
        }
    }
}
//////////////////
.download-section {
    h2 {
        text-align: center;
        padding-bottom: 40px;
    }
    .app-icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 80%;
        margin: auto;
        @media (min-width: $screen-lg) {
            width: 57%;
        }
        @media (min-width: $screen-lg) {
            width: 42%;
        }
        a {
            display: inline-block;
            img {
                height: 75px;
                width: 250px;
                @media (min-width: $screen-md) {
                    height: 84px;
                    width: 282px;
                }
            }

        }
    }
}
